body {
  min-height: 2000px;
  padding-top: 0px;
}




.hero{
font-family: 'Source Sans Pro', sans-serif;
background-color:#80B8AB;
height:775px;
padding: 65px;
width: ;

}

.headline{
padding-top: 30px;	
opacity: 0.5;
width: 550px;
}

.work{
background-color:#80B8AB;
padding: 30px;
}

#about{

	text-align: justify;
}

.navbar{
background-color: #49484A;

}

.contact{
	background-color: #49484A;
	color:#BDC3C7 ;
}


* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 150px;
  margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 150px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  background-color:#38AB42;
}


.carousel-indicators{
	bottom: 0px;


}


.carousel-indicators .active{
	background-color: #49484A;



}


.carousel-indicators li { 
	background-color: #BDC3C7;
	border: none;



}


.carousel-control{
display: ;

}